*.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
logs/
*.json
!brazil_geo.json

# DBT cache
ecommerce_dbt/.dbt/
ecommerce_dbt/logs/
config/


# Docker cache
docker/logs/
docker/plugins/
docker/postgres/

# GitHub Actions cache
/.github/.cache

ml/
datasets/
venv/
*.parquet
credentials/